

.contact .contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.contact .contact-content .column{
    width: 50%;

}
.contact .contact-content .column.left{
    padding-top: 3rem;

}
.contact .contact-content .column.left h6{
    font-size: 1.8rem ;
    font-weight: 600;
    color: rgb(149, 144, 144);
    line-height: 5rem;


}

.contact .contact-content .column.left h4{
    font-weight: 500;
}
.contact .contact-content .column.left h5{
    line-height: 5rem;
    font-weight: 500;

}
.contact .contact-content .column.left div ul li{
    padding: 1rem 0;
    color: rgb(135, 133, 133);
}
.contact .contact-content .column.left div ul li i{
    margin-right: 1.5rem;
}



.contact .contact-content .column.right .map{
    width: 100%;
    height: 40rem;
}

.contact .contact-content .column.right .map iframe{
    width: 100%;
    height: 100%;
}


/* contact us form */
.contact-us-form .contact-us-details{
    display:flex;
    flex-direction: row;
    border: 0.1rem grey solid;
    padding: 5rem;
    border-radius: 0.5rem;

}
.contact-us-form .contact-us-details .column.left{
    width: 65%;
}

.contact-us-form .contact-us-details .column.left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-us-form .contact-us-details .column.left small{
    color: rgb(142, 136, 136);
    font-weight: 500;
    
}

.contact-us-form .contact-us-details .column.left  h4{
    line-height: 5rem;
    font-weight: 600;
}

.contact-us-form .contact-us-details .column.left form input,
.contact-us-form .contact-us-details .column.left form textarea{
    margin: 1rem 0;
    width: 100%;
    resize: none;
    padding: 1.5rem 0 1rem 1rem;
    border: none;
    border: 0.1rem gray solid ;
    border-radius: 0.5rem;
}

.contact-us-form .contact-us-details .column.left form button{
        padding: 1rem 4rem;
        border: none;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: #088178;
        border-radius: 0.7rem;
        text-align: center;
        

}
.contact-us-form .contact-us-details .column.right{
    width: 35%;

}

.contact-us-form .contact-us-details .column.right .contact-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 1rem 1rem 7rem;
    margin-bottom: 4rem;

}

.contact-us-form .contact-us-details .column.right .contact-box img{
    width: 7rem;
    height: 7rem;
}
.contact-us-form .contact-us-details .column.right .contact-box p{
    margin-left: 1.5rem;
    text-align: justify;
    color: rgb(158, 156, 156);
}

/* media query */
@media(max-width:1348px){
    .contact-us-form .contact-us-details .column.right .contact-box img{
        margin-bottom: 1rem;
    }

    .contact-us-form .contact-us-details .column.right .contact-box p{
        margin-left: 1.5rem;
        
    }

    .contact-us-form .contact-us-details .column.right .contact-box{
        
        padding: 1rem 1rem 1rem 3rem;
    
    }
}


@media(max-width:651px){

    .contact .contact-content{
        flex-direction: column;
        
    }
    
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 1rem;
    
    }
    .contact-us-form .contact-us-details{
        flex-direction: column;
        
    
    }
    .contact-us-form .contact-us-details .column.left{
        width: 100%;
        margin-bottom: 2rem;
    }
    .contact-us-form .contact-us-details .column.right{
        width: 100%;
    }

    .contact-us-form .contact-us-details {
        /* display: flex;/ */
        /* flex-direction: row;/ */
        /* border: 0.1rem grey solid; */
        padding: 2rem;
        /* border-radius: 0.5rem; */
    }
    .contact-us-form .contact-us-details .column.left  h4{
        line-height: 3rem;
        font-weight: 600;
    }
}