h1{
    font-size: 4rem;
    line-height: 5.4rem;
}
h2{
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: #222;
}
h4{
    font-size: 1.5rem;
    color: #222;
    margin: 0 0 1.2rem 0;
}

.banner .banner-content h6 {
    line-height: 2rem;
}
p{
    font-size: 1.5rem;
    margin: 1.3rem 0 1.5rem 0;
}



.feature-content {
    
    justify-content: space-around;
    
}

.feature-box{
    margin: 1rem 0rem;
}

.banner {
    
    height: 20vh;
    
}

.banner .banner-content h2{
    font-size: 2rem;
    line-height: 4.5rem;
}

.banner .banner-content button{
    margin: 0 0 1.5rem 0;
    padding: 1rem 2rem ;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    border-radius: 0.4rem;
}

.banner .banner-content h2 span{
    font-size: 2.6rem;
    line-height: 4.5rem;
    color: red;
}


.call-to-action .call-to-action-content .action-banner{
    /* width: calc(50% - 1rem); */
    min-width:100%;
    

}


#hero{
    height: 70vh;
    background-size: cover;
    background-origin: border-box;
    background-position: top 0% left 70%;
}

#hero .hero-content{
    height: 70vh;
    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
}